*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  background-color: rgb(94, 160, 218);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%x;
  background-color: papayawhip;
  border-radius: 2rem;
  box-shadow: 5px 10px #888888;
  padding-left: 5rem;
  padding-right: 5rem;
  /* background: url('./assets/bg);
  background-repeat: no-repeat;
  background-size: cover; */ */
  
}

.container .setup{
  font-family: 'Rowdies';
  font-size: 20px;
  margin-bottom: 1.3rem;
  margin-top: 2.3rem;
  font-weight: 400;
  /* background-color: aliceblue; */
}

.container .punchline{
  font-family: 'Rowdies',sans-serif;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 700;
  /* background-color: aliceblue; */
}

.container .btn{
  padding: 1rem;
  font-size: 16px;
  font-weight: 600;
  background-color: blue;
  border: none;
  border-radius: 2rem;
  color: aliceblue;
  cursor: pointer;
}

.container .btn:hover{
  background-color: rgb(43, 226, 73);
  color: aliceblue;
}